<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Общее мучение", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Первый", "Schedule", "Home", new { idDay = 1 }, htmlAttributes: null)</li>
                    <li>@Html.ActionLink("Второй", "Schedule", "Home", new { idDay = 2 }, htmlAttributes: null)</li>
                    <li>@Html.ActionLink("Третий", "Schedule", "Home", new { idDay = 3 }, htmlAttributes: null)</li>
                    <li>@Html.ActionLink("Четвертый", "Schedule", "Home", new { idDay = 4 }, htmlAttributes: null)</li>
                    <li>@Html.ActionLink("Пятый", "Schedule", "Home", new { idDay = 5 }, htmlAttributes: null)</li>
                    <li>@Html.ActionLink("Нулевой", "Schedule", "Home", new { idDay = 6 }, htmlAttributes: null)</li>
                </ul>
                <select onChange="window.location.href=this.value">
                    <option selected>Тип недели</option>
                    <option value="/Home/СhangeWeek?type=Upper">Верхняя</option>
                    <option value="/Home/СhangeWeek?type=Lower">Нижняя</option>
                </select>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
